# compiled output
/node_modules

# Logs
logs
*.log
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Others
__tests__
.git
.github
tools

.gitignore
.dockerignore
banner-moleculer.png
Dockerfile
jest.config.js
jest.setup.js
README.md
